@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
:root {
  --header-height: 3.5rem;
  /* Colors */
  --hue: 14;
  --first-color: hsl(var(--hue), 91%, 54%);
  --menu-color: hsl(31, 76%, 74%);
  --button-color: hsl(0, 0%, 24%);
  --button-color-alt: hsl(0, 0%, 28%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 12%);
  --container-color: hsl(0, 0%, 16%);
  --border-color: hsl(0, 0%, 20%);
  --border-color: hsl(0, 0%, 94%);
  --dark1: #3e363f;
  --dark2: #212527;
  --light1: #fffce8;
  --light2: #edf7f6;
  --red: #df4747;
  --green: #47df5b;
  --transition250: all 250ms ease-in-out;
  --transition500: all 500ms ease-in-out;
  /* Font and typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;
  /* margenes bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== GOOGLE FONTS ===============*/
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb2);
  text-align: center;
}

.container {
  max-width: 1240px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb {
  background: #272525;
  border-radius: 0.5rem;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button--ghost {
  border: 2px solid;
  background-color: transparent;
  border-radius: 3rem;
  padding: 0.75rem 1.5rem;
}
.button--ghost:hover {
  background: none;
}
.button__icon {
  font-size: 1.25rem;
}
.button--link {
  color: var(--title-color);
}
.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.header {
  width: 100%;
  background: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.nav__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
}
.nav__logo-img {
  width: 1.25rem;
}
.nav__link, .nav__logo, .nav__toggle, .nav__close {
  color: var(--title-color);
}
.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    background: var(--container-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: 0.4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
  }
}
.nav__img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav__close {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
}
.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__link {
  text-transform: uppercase;
  font-weight: var(--font-black);
  transition: 0.4;
}
.nav__link:hover {
  color: var(--text-color);
}
.nav__btns {
  display: flex;
  font-size: var(--h2-font-size);
  gap: 0 20px;
}
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/*=============== CART ===============*/
.cart {
  position: fixed;
  background-color: #3b3b3b;
  z-index: var(--z-fixed);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  padding: 3.5rem 2rem;
  transition: 0.4s;
  overflow-y: scroll;
}
.cart__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}
.cart__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  cursor: pointer;
}
.cart__container {
  display: grid;
  row-gap: 1.5rem;
}
.cart__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.cart__box {
  background-color: var(--container-color);
  padding: 0.75rem 1.25rem;
  border: 1px solid #5c5c5c;
}
.cart__img {
  width: 50px;
}
.cart__title {
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}
.cart__price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--menu-color);
  margin-bottom: var(--mb-1-5);
}
.cart__amount, .cart__amount-content {
  display: flex;
  align-items: center;
}
.cart__amount {
  column-gap: 3rem;
}
.cart__amount-content {
  column-gap: 1rem;
}
.cart__amount-box {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.cart__amount-trash {
  font-size: 1.15rem;
  color: var(--menu-color);
  cursor: pointer;
}
.cart__prices {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
.cart__prices-item, .cart__prices-total {
  color: var(--title-color);
}
.cart__prices-item {
  font-size: var(--small-font-size);
}
.cart__prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.cart::-webkit-scrollbar {
  display: none;
}

/* Show cart */
.show-cart {
  right: 0;
}

.button__cart {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.search-box {
  width: 1px;
  height: 30px;
  background-color: #585858;
  position: relative;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.search-box.open {
  width: 220px;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  color: #fff;
  padding: 20px 20px;
  font-size: 20px;
}

.search-btn {
  color: #bfbfbf;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 25px;
  background-color: transparent;
}

.info {
  position: fixed;
  background-color: #3b3b3b;
  z-index: var(--z-fixed);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  padding: 5.5rem 1rem;
  transition: 0.4s;
  overflow-y: scroll;
}
.info__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  cursor: pointer;
}

.show-info {
  right: 0;
}

.home__content {
  row-gap: 1rem;
}
.home__group {
  display: grid;
  position: relative;
  padding-top: 2rem;
}
.home__image {
  height: 250px;
  justify-self: center;
}
.home__indicator {
  width: 8px;
  height: 8px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  top: 7rem;
  right: 2rem;
}
.home__indicator::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: var(--title-color);
  top: -3rem;
  right: 45%;
}
.home__details-img {
  position: absolute;
  right: 0.5rem;
}
.home__details-title, .home__details-subtitle {
  display: block;
  font-size: var(--small-font-size);
  text-align: right;
}
.home__subtitle {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  line-height: 109%;
  margin-bottom: var(--mb-1);
}
.home__description {
  margin-bottom: var(--mb-1);
}
.home__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.swiper-pagination {
  position: initial;
  margin-top: var(--mb-1);
}
.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 0.5rem;
}

.category__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
  margin-top: var(--mb-1);
}
.category__description {
  color: var(--text-color);
}
.category__data {
  text-align: center;
}
.category__image {
  width: 120px;
  height: 150px;
  margin: 0 auto;
  transition: 0.3s;
}
.category__title {
  margin-bottom: var(--mb-0-25);
}
.category__data:hover .category__image {
  transform: translateY(-0.5rem);
}

.scroll-header {
  background: var(--container-color);
}

.about__container {
  row-gap: 2rem;
}
.about__data {
  text-align: center;
}
.about__description {
  margin-bottom: var(--mb-2);
}
.about__image {
  width: 200px;
  justify-self: center;
}

.hot__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 1rem;
}
.hot__content {
  position: relative;
  background: var(--container-color);
  border-radius: 1rem;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
}
.hot__content:hover .hot__image {
  transform: translateY(-0.5rem);
}
.hot__content:hover .hot__button {
  right: 0;
}
.hot__image {
  width: 90px;
  transition: 0.3s;
  margin: 0 auto;
}
.hot__subtitle, .hot__price {
  display: block;
}
.hot__subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-0-5);
}
.hot__title, .hot__price {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}
.hot__title-link {
  color: var(--title-color);
}
.hot__button {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  padding: 0.5rem;
  border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
  position: absolute;
  right: -3rem;
  bottom: 0;
}
.hot__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}
.hot__icon--bt {
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
}
.hot__icon:hover {
  color: var(--first-color);
}

.discount__container {
  background: var(--container-color);
  border-radius: 1rem;
  padding: 2.5rem 0 1.5rem;
  row-gap: 0.75rem;
}
.discount__data {
  text-align: center;
}
.discount__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}
.discount__image {
  width: 200px;
  justify-self: center;
}

.new__container {
  padding-top: 1rem;
}
.new__image {
  width: 120px;
  height: 120px;
  transition: 0.3s;
  margin: 0 auto;
  margin-bottom: var(--mb-0-5);
}
.new__content {
  position: relative;
  background: var(--container-color);
  width: 242px;
  padding: 2rem 0 1.5rem 0;
  border-radius: 0.75rem;
  text-align: center;
  overflow: hidden;
}
.new__content:hover .new__image {
  transform: translateY(-0.5rem);
}
.new__content:hover .new__button {
  right: 0;
}
.new__tag {
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--first-color);
  color: var(--title-color);
  font-size: var(--small-font-size);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.new__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.new__title-link {
  color: var(--title-color);
}
.new__subtitle {
  display: block;
  font-size: --small-font-size;
  margin-bottom: var(--mb-0-5);
}
.new__prices {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
.new__price {
  font-weight: var(--font-medium);
  color: var(--title-color);
}
.new__discount {
  color: var(--first-color);
  font-size: var(--small-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}
.new__button {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  padding: 0.5rem;
  border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
  position: absolute;
  bottom: 0;
  right: -3rem;
}
.new__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}
.new__icon--bt {
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
}
.new__icon:hover {
  color: var(--first-color);
}

.newsletter__description {
  text-align: center;
  margin-bottom: var(--mb-1-5);
}
.newsletter__form {
  background: var(--container-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 0.75rem;
}
.newsletter__input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: var(--title-color);
}
.newsletter__input::placeholder {
  color: var(--text-color);
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer__image-one, .footer__image-two {
  position: absolute;
  transition: 0.3s;
}
.footer__image-one:hover, .footer__image-two:hover {
  transform: translateY(-0.5rem);
}
.footer__image-one {
  width: 100px;
  top: 6rem;
  right: -2rem;
}
.footer__image-two {
  width: 150px;
  bottom: 4rem;
  right: 4rem;
}
.footer__container {
  row-gap: 2rem;
}
.footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0.5rem;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--title-color);
}
.footer__logo-image {
  width: 20px;
}
.footer__description {
  margin-bottom: var(--mb-2-5);
}
.footer__social {
  display: flex;
  column-gap: 0.75rem;
}
.footer__social-link {
  display: inline-flex;
  background: var(--container-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--title-color);
  font-size: 1rem;
}
.footer__social-link:hover {
  background: var(--body-color);
}
.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}
.footer__links {
  display: grid;
  row-gap: 0.35rem;
}
.footer__link {
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: 0.3s;
}
.footer__link:hover {
  color: var(--title-color);
}
.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  margin-top: 4.5rem;
}

.modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--container-color);
  transition: var(--transition250);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border-radius: 8px;
}
.modal__main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px;
}
.modal__image {
  height: 100%;
  width: 100%;
  margin-top: var(--mb-2-5);
}
.modal__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-1-5);
}
.modal__desc {
  margin-bottom: var(--mb-1-5);
}
.modal__price {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1-5);
}
.modal__button {
  text-align: center;
}
.modal__close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 2.5rem;
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  visibility: unset;
}

.scrollup {
  position: fixed;
  background: var(--first-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
}
.scrollup:hover {
  background: var(--container-color);
  opacity: 1;
}
.scrollup__icon {
  font-size: 1.2rem;
  color: var(--title-color);
}

.show-scroll {
  bottom: 3rem;
}

.register__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
.register__title {
  text-align: center;
  padding-top: 20px;
  color: var(--first-color);
}

form {
  padding: 0 40px;
}

.form-control {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 40px 0;
}

.form-control.success {
  border-bottom-color: var(--first-color);
}

.form-control.error {
  border-bottom-color: #e74c3c;
}

.form-control input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

small {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 3px;
  color: #e74c3c;
}

.form-control span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--first-color);
  transition: 0.3s;
}

.form-control input:focus ~ span::before {
  width: 100%;
}

input[type=submit] {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: var(--first-color);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

input[type=submit]:hover {
  background-color: #fc7b6d;
}

.signup_link {
  margin: 25px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: var(--first-color);
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.login__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
.login__title {
  text-align: center;
  padding-top: 20px;
  color: var(--first-color);
}

form {
  padding: 0 40px;
}

.form-control {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 40px 0;
}

.form-control.success {
  border-bottom-color: var(--first-color);
}

.form-control.error {
  border-bottom-color: #e74c3c;
}

.form-control input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

small {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 3px;
  color: #e74c3c;
}

.form-control span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--first-color);
  transition: 0.3s;
}

.form-control input:focus ~ span::before {
  width: 100%;
}

input[type=submit] {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: var(--first-color);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

input[type=submit]:hover {
  background-color: #fc7b6d;
}

.signup_link {
  margin: 25px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: var(--first-color);
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.contact {
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
}
.contact__title {
  text-align: center;
}
.contact__list {
  margin-top: var(--mb-2);
  display: flex;
  justify-content: space-around;
}
.contact__item {
  font-size: 30px;
}

.address__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0;
  margin-bottom: var(--mb-2);
}
.address__image {
  border-radius: 8px;
  overflow: hidden;
}
.address__city, .address__phone, .address__info, .address__email {
  text-align: center;
}

.product {
  padding: 1.5rem 0;
}
.product__header {
  display: grid;
  grid-template-columns: 1fr;
}
.product__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 1rem;
}
.product__content {
  position: relative;
  background: var(--container-color);
  border-radius: 1rem;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
}
.product__content:hover .product__image, .product__content:hover .hot__image {
  transform: translateY(-0.5rem);
}
.product__content:hover .product__button, .product__content:hover .hot__button {
  right: 0;
}
.product__title-link {
  color: var(--title-color);
}
.product__image {
  width: 90px;
  transition: 0.3s;
  margin: 0 auto;
}
.product__subtitle, .product__price {
  display: block;
}
.product__subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-0-5);
}
.product__title, .product__price {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}
.product__button {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  padding: 0.5rem;
  border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
  position: absolute;
  right: -3rem;
  bottom: 0;
}
.product__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}
.product__icon--bt {
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
}
.product__icon:hover {
  color: var(--first-color);
}

.shop__title {
  font-size: var(--h1-font-size);
  text-align: center;
}

.search-box {
  margin-top: var(--mb-1-5);
  width: 50px;
  height: 50px;
  background-color: #242628;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.search-box.open {
  width: 100%;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 35px;
  font-size: 20px;
}

.search-btn {
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 30px;
}

.category__shop__menu {
  margin-top: 20px;
  margin-bottom: var(--mb-1-5);
  display: grid;
  justify-content: flex-start;
  grid-auto-columns: 120px;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  grid-template-columns: unset;
}
.category__shop__menu::-webkit-scrollbar {
  display: none;
  width: 0;
}
.category__shop__menu > * {
  scroll-snap-align: start;
}
.category__shop-item {
  padding: 15px 20px;
  border: 1px solid gray;
  border-radius: 8px;
}
.category__shop__button {
  padding: 15px 15px;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  border: 1px solid gray;
}

.active {
  background-color: var(--first-color);
}

.hide {
  display: none;
}

.pagination__list {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}
.pagination__item {
  background-color: transparent;
}
.pagination__link {
  padding: 10px 10px;
  color: var(--text-color);
}

.pagination-active {
  background-color: var(--red);
  border-radius: 4px;
}

.product__detail {
  display: grid;
  grid-template-columns: 1fr;
}
.product__detail-content {
  padding: 10px 15px;
}
.product__detail-category {
  font-size: var(--h3-font-size);
  color: var(--h3-color);
}
.product__detail-name {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: var(--h1-font-size);
}
.product__detail-price {
  font-size: var(--h1-font-size);
  color: var(--first-color);
}
.product__detail-quantity {
  margin-top: 20px;
  text-align: center;
}

.tru,
.cong {
  padding: 10px;
}

.num {
  padding: 10px 10px;
  width: 50px;
}

.add__cart {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product__desc__button {
  padding: 15px 15px;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  border: 1px solid gray;
}
.product__desc-long {
  margin-top: 20px;
}

.product__comment {
  margin-top: 20px;
}

.active {
  background-color: var(--first-color);
}

.hide {
  display: none;
}

/*=============== CART ===============*/
.mycart__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}
.mycart__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  cursor: pointer;
}
.mycart__container {
  display: grid;
  row-gap: 1.5rem;
}
.mycart__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-around;
}
.mycart__box {
  background-color: var(--container-color);
  padding: 0.75rem 1.25rem;
  border: 1px solid #5c5c5c;
}
.mycart__img {
  width: 50px;
}
.mycart__title {
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}
.mycart__price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--menu-color);
  margin-bottom: var(--mb-1-5);
}
.mycart__amount, .mycart__amount-content {
  display: flex;
  align-items: center;
}
.mycart__amount {
  column-gap: 3rem;
}
.mycart__amount-content {
  column-gap: 1rem;
}
.mycart__amount-box {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.mycart__amount-trash {
  font-size: 1.15rem;
  color: var(--menu-color);
  cursor: pointer;
}
.mycart__prices {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px 0;
}
.mycart__prices-item, .mycart__prices-total {
  color: var(--title-color);
}
.mycart__prices-item {
  font-size: var(--small-font-size);
}
.mycart__prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.mycart__ship-fee, .mycart__sale {
  color: var(--title-color);
}
.mycart__button {
  margin-top: var(--mb-1-5);
  text-align: center;
  display: block;
}
.mycart__sale {
  margin-top: var(--mb-1-5);
}

.sale__form {
  margin-top: var(--mb-1-5);
  margin-bottom: var(--mb-1-5);
  background: var(--container-color);
  padding: 0.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 0.75rem;
}
.sale__input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: var(--title-color);
}
.sale__input::placeholder {
  color: var(--text-color);
}

/* Show cart */
.check__sdt, .check__name {
  font-size: var(--h3-font-size);
  font-weight: var(--normal-font-size);
  color: var(--title-color);
}
.check__content {
  padding-top: var(--mb-1);
}
.check__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}
.check__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  cursor: pointer;
}
.check__container {
  display: grid;
  row-gap: 1.5rem;
}
.check__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-around;
  border-bottom: 1px solid #474545;
}
.check__box {
  background-color: var(--container-color);
  padding: 0.75rem 1.25rem;
  border: 1px solid #5c5c5c;
}
.check__img {
  width: 50px;
}
.check__title {
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}
.check__price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--menu-color);
  margin-bottom: var(--mb-0-5);
}
.check__amount, .check__amount-content {
  display: flex;
  align-items: center;
}
.check__amount {
  column-gap: 3rem;
}
.check__amount-content {
  column-gap: 1rem;
}
.check__amount-box {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.check__amount-trash {
  font-size: 1.15rem;
  color: var(--menu-color);
  cursor: pointer;
}
.check__prices {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px 0;
}
.check__prices-item, .check__prices-total {
  color: var(--title-color);
}
.check__prices-item {
  font-size: var(--small-font-size);
}
.check__prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.check__ship-fee, .check__sale {
  color: var(--title-color);
}
.check__button {
  margin-top: var(--mb-1-5);
  text-align: center;
  display: block;
}
.check__sale {
  margin-top: var(--mb-1-5);
}

.sale__form {
  margin-top: var(--mb-1-5);
  margin-bottom: var(--mb-1-5);
  background: var(--container-color);
  padding: 0.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 0.75rem;
}
.sale__input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: var(--title-color);
}
.sale__input::placeholder {
  color: var(--text-color);
}

/* Show cart */
.success__info {
  text-align: center;
}

.button-success {
  margin-top: var(--mb-1-5);
}

@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__image {
    height: 200px;
  }
  .home__buttons {
    flex-direction: column;
    width: max-content;
    row-gap: 1rem;
  }

  .category__container,
.hot__container {
    grid-template-columns: 0.8fr;
    justify-content: center;
  }

  .modal__title {
    margin-top: unset;
    margin-bottom: unset;
  }
  .modal__price {
    margin-bottom: var(--mb-1);
  }

  .register__container,
.login__container {
    width: 250px;
  }

  .product__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: 0.8fr;
    justify-content: center;
  }

  .newsletter__container {
    display: grid;
    grid-template-columns: 0.7fr;
    justify-content: center;
  }
  .newsletter__description {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__img, .nav__close, .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__link {
    text-transform: initial;
    font-weight: initial;
  }

  .info,
.cart {
    width: 420px;
    box-shadow: -2px 0 4px rgba(38, 38, 38, 0.1);
  }

  .home__content {
    padding: 8rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .home__image {
    height: 300px;
  }

  .swiper-pagination {
    margin-top: var(--mb-2);
  }

  .category__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }
  .category__image {
    height: 200px;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__title, .about__data {
    text-align: initial;
  }
  .about__image {
    width: 350px;
  }

  .hot__container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
  }

  .discount__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 3rem 0;
    border-radius: 3rem;
  }
  .discount__image {
    width: 350px;
    order: -1;
  }
  .discount__data {
    padding-right: 6rem;
  }

  .newsletter__container {
    grid-template-columns: 0.5fr;
  }

  .new__image {
    height: 150px;
    width: 150px;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 1rem;
  }
  .footer__image-two {
    right: initial;
    bottom: 0;
    left: 15%;
  }

  .modal {
    width: 100%;
    height: 100%;
  }
  .modal__main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .modal__image {
    padding: 0 50px;
  }
  .modal__image img {
    height: 300px;
    transform: translateX(25%);
  }

  .login__container,
.register__container {
    width: 400px;
  }

  .contact__title {
    font-size: var(--h1-font-size);
    padding-top: 8rem;
  }
  .contact__city, .contact__phone, .contact__info, .contact__email {
    font-size: var(--normal-font-size);
  }

  .address__list {
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }
  .address__city {
    padding: var(--mb-1-5);
  }

  .contact__list {
    justify-content: center;
    gap: 0 25px;
  }

  .product__header {
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }
  .product__detail {
    padding-top: 7.5rem;
    grid-template-columns: 1fr 1fr;
    gap: 0 10px;
  }
  .product__detail-name {
    margin-top: 2px;
    margin-bottom: 5px;
  }

  .shop__title {
    padding-top: 4.5rem;
  }

  .mycart {
    padding-top: 8.5rem;
  }
  .mycart__title-center {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1-5);
  }
  .mycart__details {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .mycart__title, .mycart__details {
    min-width: 100px;
  }

  .check {
    padding-top: 6.5rem;
  }
  .check__container {
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
  }

  .success {
    padding-top: 6.5rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 3rem;
  }

  .home__content {
    padding-top: 9rem;
    gap: 3rem;
  }
  .home__group {
    padding-top: 0;
  }
  .home__image {
    height: 400px;
    transform: translateY(-3rem);
  }
  .home__indicator {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }
  .home__indicator::after {
    top: 0;
    height: 75px;
  }
  .home__details-img {
    bottom: 0;
    right: 58%;
  }
  .home__title {
    margin-bottom: var(--mb-1-5);
  }
  .home__description {
    margin-bottom: var(--mb-2-5);
    padding-right: 2rem;
  }

  .category__container {
    column-gap: 8rem;
  }
  .category__image {
    width: 200px;
    margin-bottom: 20px;
  }

  .about__container {
    column-gap: 7rem;
  }
  .about__image {
    width: 450px;
  }
  .about__description {
    padding-right: 2rem;
  }

  .hot__container {
    gap: 3.5rem;
  }
  .hot__content {
    border-radius: 1.5rem;
  }
  .hot__image {
    width: 110px;
  }
  .hot__title {
    font-size: var(--h3-font-size);
  }

  .discount__container {
    column-gap: 7rem;
  }

  .new__content {
    width: 310px;
    border-radius: 1rem;
    padding: 2rem 0;
  }
  .new__image {
    width: 150px;
    height: 150px;
  }
  .new__image, .new__subtitle {
    margin-bottom: var(--mb-1);
  }
  .new__title {
    font-size: var(--h3-font-size);
  }

  .footer__copy {
    margin-top: 6rem;
  }

  .modal__main {
    grid-template-columns: 1fr 1fr;
  }
  .modal__image {
    padding: 0 50px;
  }
  .modal__image img {
    height: 300px;
    transform: unset;
  }

  .address__list {
    padding: 20px;
  }
  .address__image {
    height: 335px;
  }

  .product__header {
    padding: 1rem;
  }

  .product__detail-quantity {
    text-align: unset;
    padding: 0;
  }

  .add__cart {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .home__image {
    height: 420px;
  }

  .swiper-pagination {
    margin-top: var(--mb-2-5);
  }

  .new__image {
    width: 150px;
    height: 150px;
  }

  .footer__image-one {
    width: 120px;
  }
  .footer__image-two {
    width: 180px;
    top: 30%;
    left: -3%;
  }

  .modal__main {
    grid-template-columns: 1fr 1fr;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .modal__image {
    padding: 0 50px;
  }
  .modal__image img {
    height: 300px;
    transform: unset;
  }

  .address__image {
    overflow: hidden;
  }
  .address__image img {
    width: 100%;
    height: 100%;
  }
  .address__city {
    padding-top: var(--mb-2-5);
  }

  .product__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .product__detail-images {
    width: 500px;
  }

  .category__shop__menu {
    display: flex;
    flex-wrap: wrap;
  }

  .mycart__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 100px;
  }
  .mycart__prices {
    margin-top: 1rem;
  }
  .mycart__ship-fee, .mycart__prices-item {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }
  .mycart__check {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
.sale__form {
  margin-top: var(--mb-1-5);
  margin-bottom: var(--mb-1-5);
}

/*# sourceMappingURL=app.css.map */
