* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
.section {
  padding: 4.5rem 0 2rem;
}
.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb2);
  text-align: center;
}
.container {
  max-width: 1240px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
}
.main {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0.6rem;
  background: #413e3e;
}
::-webkit-scrollbar-thumb {
  background: #272525;
  border-radius: 0.5rem;
}
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
  &:hover {
    background-color: var(--first-color-alt);
  }
  &--ghost {
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    padding: 0.75rem 1.5rem;
    &:hover {
      background: none;
    }
  }
  &__icon {
    font-size: 1.25rem;
  }
  &--link {
    color: var(--title-color);
  }
  &--flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
  }
  .center {
    margin-top: 2px;
  }
}
