.category__shop {
  margin-top: 20px;
  &-list {
    margin-bottom: var(--mb-1-5);
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    grid-gap: 1rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  &-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  &-list > * {
    scroll-snap-align: start;
  }

  &-item {
    padding: 15px 20px;
    border: 1px solid gray;
    border-radius: 8px;
  }
}
