@mixin flex(
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap,
  $dir: row
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $dir;
}
@mixin maxw($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin minw($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
